* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: "PP Mori", sans-serif;
        src: url(fonts/PPMORI-REGULAR.OTF) format("opentype");
}
    
body {
        font-family: "PP Mori", sans-serif;
        color: #191919;

        width: 100%;
        background-image: url('img/fond\ texture.jpg');
        background-size: cover;
}

.text-link {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 160px;
}

.yeuzz {
    width: auto;
    height: 90px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 40px;
}

.mail {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    margin-bottom: 30px;
}

.retour {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 24px;
    margin-bottom: 120px;
}

a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
}

.socials {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    font-size: 20px;
}